<%- include ./public/header %>

<div id="app">
  <div class="container">
    <div class="g-header-container">
      {{ list.wxName }}的留言
    </div>
  </div>
  <div class="container main-container">
    <div class="list-container js-list-container chat-container list-type-normal" v-for="message in list.messages">
      <div class="row">
        <!--<div class="chat-message-time-container">
          2017年1月13日21:21
        </div>-->
        <chat-time :chattime="message.time"></chat-time>
        <template v-if="message.type==0">
          <div class="chat-text-container">
            {{ message.message }}
          </div>
        </template>
        <template v-if="message.type==1">
          <div class="chat-image-container js-show-image-modal">
            <!-- <img src="http://115.159.202.104:3000/static/images/chat/{{ message.fileName }}" class="chat-image"> -->
            <img :src="imagePath+message.fileName" class="chat-image">
          </div>
          <div class="hidden-info-container">
            <div class="js-image-file-name">{{ message.fileName }}</div>
          </div>
        </template>
        <template v-if="message.type==2">
          <div>
            <audio controls :src="audioPath+message.fileName">

            </audio>
          </div>
        </template>
        <template v-if="message.type==3">
          <div class="chat-video-container">
            <video controls :src="videoPath+message.fileName" class="chat-video">

            </video>
          </div>
        </template>
      </div>
    </div>
  </div>

  <a class="chat-form-link-container" :href="formPath" target="_blank">
    完善<br>信息
  </a>

  <audio src="/static/sound/message.mp3" id="sound"></audio>
</div>

<script type="text/javascript">
  var listId=<%=id %>

  function playSound(){//播放声音函数
    $('#sound').get(0).play()
  }

  function getList(){
    $.post(online+'getListById',{_id:listId},(data)=>{
      if(data.success===1){
        vm.list.wxName=data.list.wxName
        if(vm.list.messages.length!==data.list.messages.length){
          playSound()
          vm.list=data.list
        }
      }else{
        console.error(data.msg)
      }
    })
  }

  var vm=new Vue({
    el:'#app',
    data:{
      list:{messages:[],wxName:''},
      imagePath:'http://115.159.202.104:3000/static/images/chat/',
      audioPath:'http://115.159.202.104:3000/static/sound/chat/',
      videoPath:'http://115.159.202.104:3000/static/video/chat/',
      formPath:'http://www.sojump.hk/jq/11665442.aspx?sojumpparm='+listId
    }
  })

  global_polling(getList)
</script>

<%- include ./private/chat-image-modal %>
<%- include ./public/components/rights %>
<%- include ./public/footer %>
