<%- include ./public/header %>

<div class="container main-container" id="app">
  <div class="list-container js-list-container js-list-row" v-for="list in lists" :class="{'list-type-normal':list.listType==1,'list-type-emergency':list.listType==0}">
    <div class="row">
      <div class="col-sm-9 col-xs-8">
        <div class="list-info-row">
          <div class="list-title js-caseType">
            <case-type v-bind:type="list.caseType"></case-type>
          </div>
          <div class="list-number js-id">
            {{ list._id }}
          </div>
          <div class="list-chat-container">
            <chat-btn :listid="list._id"></chat-btn>
          </div>
        </div>
        <div class="list-info-row row">
          <div class="list-first-info col-xs-12 col-sm-7">
            <span class="list-info-item">报警人：</span><span class="list-info-value js-userName">{{ list.userName }}</span>
          </div>
          <div class="list-second-info col-xs-12 col-sm-5">
            <span class="list-info-item">身份证：</span><span class="list-info-value js-idCard">{{ list.idCard }}</span>
          </div>
        </div>
        <div class="list-info-row row">
          <div class="list-first-info col-xs-12 col-sm-7">
            <span class="list-info-item">电话：</span><span class="list-info-value js-phoneNumber">{{ list.phoneNum }}</span>
          </div>
          <div class="list-second-info col-xs-12 col-sm-5">
            <span class="list-info-item">微信昵称：</span><span class="list-info-value js-wxName">{{ list.wxName }}</span>
          </div>
        </div>
        <div class="list-case-info js-caseInfo">
          {{ list.caseInfo }}
        </div>
      </div>
      <div class="col-sm-3 col-xs-4 list-brn-container">
        <div class="clearfix">
          <div class="list-btn list-btn-primary js-show-modal">
            出警
          </div>
        </div>
        <div class="clearfix">
          <div class="list-btn list-btn-danger js-show-ignore-modal">
            忽略
          </div>
        </div>
        <div class="clearfix" v-if="list.listType===0">
          <a class="list-btn list-btn-chat" :href="chatPath+list._id" target="_blank">
            查看留言
          </a>
        </div>
      </div>
    </div>

    <div class="hidden-info-container">
      <div class="js-openid">{{ list.openid }}</div>
    </div>
  </div>

  <audio src="/static/sound/alert.mp3" id="sound"></audio>
</div>

<script type="text/javascript">
  function playSound(){//播放声音函数
    $('#sound').get(0).play()
  }

  function getWantedList(){
    $.post(online+'getWantedList',(data)=>{
      if(data.success===1){
        if(vm.lists.length!==data.lists.length){
          playSound()
        }
        vm.lists=data.lists
      }else{
        vm.lists=[]
      }
    })
  }


  var vm=new Vue({
    el:'#app',
    data:{
      //lists:[{ "_id" : 0, "listStatus" : 1, "caseInfo" : "这是描述", "userName" : "群众甲", " openid" : "od04Tv4xiR6kozeIHCkZMbI9bcYg", "phoneNum" : "46645848", "idCard" : "476848948", "caseType" : 4, "startTime" : 1483414592508}]
      lists:[],
      chatPath:'/views/chat?id='
    }
  })


/*  getWantedList()
    setInterval(function(){
    getWantedList()
  },5000)*/
  global_polling(getWantedList)

</script>

<%- include ./private/delegate-ignore-modal %>
<%- include ./private/delegate-modal %>
<%- include ./public/components/rights %>
<%- include ./public/footer %>
